<footer class="webpage-footer">

  <div class="footer-tags">
    <h1>Legends</h1>
    <p>© 2021</p>
  </div>

  <div class="footer-tags">

    <a href="https://github.com/wheeljust" target="_blank">
      <div>
        <img src="/images/GitHub-Mark-Light-32px.png">
        <span class="github-tag">wheeljust</span>
      </div>
    </a>
    <a href="https://github.com/chazdean" target="_blank">
      <div>
        <img src="/images/GitHub-Mark-Light-32px.png">
        <span class="github-tag">chazdean</span>
      </div>
    </a>

  </div>

</footer>
