<head>
  <!-- Meta Information -->
  <title>Legends</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- GOOGLE FONTS - Raleway 200wt & 400wt reg & italics, Permanent Marker 400wt for Logo only -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:ital,wght@0,200;0,400;1,200;1,400&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  <link rel="stylesheet" href="/styles/maps.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

  <!-- Bootstrap CSS  IF WE USE THIS IT WILL OVER RIDE THE OTHER CSS FILES
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- Font Awesome from cdnjs -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Local JS from  public/scripts/ -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
