<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head'); %>

<body class="login-page">
  <div class=login-container>
    <div class="login-title">
      <h3>Welcome to</h3>
      <h2 class="logo">Legends</h2>
    </div>
    <form class="login-form" method="POST" action="/login">
      <div>
        <input type="email" name="email" placeholder="Email">
      </div>
      <div>
        <input type="password" name="password" placeholder="Password">
      </div>
      <button type="submit">Login</button>
    </form>
    </div>
  </div>


</body>

</html>
