<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head'); %>

<body class="new-maps-page">
  <nav class="nav-bar">
    <ul>
      <div class="nav-left">
        <li><a class="logo" href="http://localhost:8080/maps">📍</a></li>
        <li><a href="">CreateNew</a></li>
        <li><a href="http://localhost:8080/maps/">MyMaps</a></li>
        <li><a href="http://localhost:8080/maps/favorites/">Favorites</a></li>
      </div>
      <div class="nav-right">
        <li><a href=""><i class="fas fa-user"></i></a></li>
        <li><a href="http://localhost:8080/maps/">Logout</a></li>
      </div>
    </ul>
  </nav>

  <header class="newmap-page-header">
  </header>

  <main class="container">

  <section class="newmap-container">
    <header class="newmap-container-header">
      <h3></h3>
    </header>
      <form action="/map" method="post">
        <article class="newmap">
          <header class="newmap-header">
          </header>
          <main class="newmap-main">
            <div class="newmap-details">
              <span class="newmap-head">
                <input type="text" id="newmap-title" name="title" placeholder="Map Title"><br>
                  <span class="newmap-creator-name">
                    <input type="submit" value="Submit">
                  </span>
              </span>
              <span class="newmap-location">
                  <input class="newmap-location-input" type="text" id="newmap-city" name="city" placeholder="City">
                  <input class="newmap-location-input" type="text" id="newmap-province" name="province" placeholder="Province">
                  <input class="newmap-location-input" type="text" id="newmap-country" name="country" placeholder="Country">
              </span>
              <span class="newmap-description">
                <input type="text" id="newmap-description" name="description" placeholder="Description">
              </span>
              <div class="newmap-thumbnail">
                <input type="text" id="newmap-thumbnail" name="thumbnail" placeholder="Paste Image Url">
              </div>
            </div>
          </main>
          <footer class="newmap-footer">
            <div class="newmap-footer-left"></div>
            <div class="newmap-footer-right"></div>
          </footer>
        </article>
      </form>
  </section>

  </main>

  <%- include('partials/_footer'); %>
</body>

</html>
