<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head'); %>

<body class="maps-page">

  <%- include('partials/_nav'); %>

  <main class="maps-page-container">

    <header class="maps-page-header">
      <div class="newmap-details">
        <h2>Create a new map</h2>
        <h3><em>Become a legend ...</em></h3>
        <form method="GET" action="/maps/">
          <button class="newmap-cancel-button" type="submit">Cancel</button>
        </form>
      </div>
    </header>

  <section class="map-container"></section>

  <form action="/newmap" method="POST">
        <article class="newmap">

          <main class="map-main">
            <div class="map-details">
              <span class="newmap-name">
                <input type="text" class="newmap-title" name="title" placeholder="Map Title">
              </span>
              <span class="newmap-location">
                  <input class="newmap-location-input" type="text" id="newmap-city" name="city" placeholder="City">
                  <input class="newmap-location-input" type="text" id="newmap-country" name="country" placeholder="Country">
                  <input class="newmap-location-input province" type="text" id="newmap-province" name="province" placeholder="Province">
                </span>
              <span class="newmap-description-box">
                <input type="text" class="newmap-description" name="description" placeholder="Description">
              </span>
              <div class="newmap-thumbnail">
                <input type="text" id="newmap-thumbnail" name="map_img_url" placeholder="Paste Image Url">
              </div>
            </div>
          </main>

        </article>

        <div class="newmap-button-box">

          <button class="newmap-update-button">Create</button>
        </div>

      </form>
  </section>

  </main>

  <%- include('partials/_footer'); %>
</body>

</html>
