<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head'); %>

<body>
  <nav class="nav-bar">
    <ul>
      <div class="nav-left">
        <li><a class="logo" href="http://localhost:8080/maps">📍</a></li>
        <li><a href="">CreateNew</a></li>
        <li><a href="http://localhost:8080/maps/<%= user %>">MyMaps</a></li>
        <li><a href="http://localhost:8080/maps/favorites/<%= user %>">Favorites</a></li>
      </div>
      <div class="nav-right">
        <li><a href=""><i class="fas fa-user"></i></a></li>
        <li><a href="http://localhost:8080/maps/">Logout</a></li>
      </div>
    </ul>
  </nav>

  <header class="page-header">
  </header>

  <main class="container">

  <section class="map-container">
    <header class="map-container-header">
      <h3></h3>
    </header>
      <article class="map">
        <header class="map-header">
          <span class="map-creator-name"></span>
        </header>
        <main class="map-main">
          <div class="map-thumbnail"></div>
          <div class="map-details">
            <span class="name"></span>
            <span class="location"></span>
            <span class="description"></span>
          </div>
        </main>
        <footer class="map-footer">
          <div class="map-footer-left">
            <span class="map-date"></span>
          </div>
          <div class="map-footer-right">
            <i class="fas fa-map-pin"> 0</i>
            <i class="far fa-star"></i>
          </div>
        </footer>
      </article>
  </section>

  </main>

  <%- include('partials/_footer'); %>
</body>

</html>
