<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head'); %>

<body>

  <main class="main-pins-container">

    <header>
      <div class="pins-map-details">
        <h2>Map Title • City</h2>
        <h3><em>Map Description</em></h3>
      </div>
      <button id="add-new-pin" type="submit">+ Add Pin</button>
    </header>

    <section class="pins-container">

      <article class=pin-container>
        <img src="https://i.imgur.com/VUEGlFp.jpeg">
        <div>
          <h3>Maker Pizza</h3>
          <h4><em>The best pizza place around</em></h4>
        </div>
        <span class="pin-creator">Alice Long</span>
        <div class="pin-modify-buttons">
          <button>Update</button>
          <button>Delete</button>
        </div>
      </article>


    </section>

  </main>

  <%- include('partials/_footer'); %>

</body>

</html>
