<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head'); %>

<body>

  <main class="main-pins-container">

    <header>
      <div class="pins-map-details">
        <h2>Map Title • City</h2>
        <h3><em>Map Description</em></h3>
      </div>
      <button id="add-new-pin" type="submit">+ Add Pin</button>
    </header>

    <h2>Toggle Form Here</h2>

    <section class="pins-container">

    </section>

  </main>

  <%- include('partials/_footer'); %>

</body>

</html>
