// Layout set up
@use 'colors';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: colors.$schemeDark;
  background-image: url(../images/asfalt-light.png);
  min-height: 100vh;
  position: relative;
}
