@use 'colors';

body.maps-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maps-page-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 4.5rem;

  .maps-page-header {
    height: 125px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.map-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.map-container-header {
  font-size: 32px;
  color: colors.$schemeLight;
}

.map {
  border: 3px solid #545149;
  padding: 10px 10px 10px 10px;
  margin-top: 15px;
  background-color: colors.$schemeLightest;
  border-radius: 10px 10px 10px 10px;
  opacity: 70%;
}

.map-header {
  display: flex;
  flex-direction: row-reverse;
}

.map-main {
  display: flex;
  flex-direction: row;
  height: 150px;
}

.map-thumbnail {
  width: 140px;
}

.map-details {
  display: flex;
  flex-direction: column;
  width: 100%;

  .name {
    font-size: 25px;
  }

  .description {
    margin-top: 15px;
  }
}

.map-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.map-footer-left {
  font-size: 10px;
  padding-top: 10px;
}

.map:hover {
  border-color: colors.$schemeOrange;
}
